.user-info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 10px;
}

.user-item {
    display: flex;
    align-items: center;
}

.label {
    color: #ff848b;
    margin-left: 30px;
    font-weight: bold;
    min-width: 50px;
}

.value {
    color: #666666;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-left: 10px;
}
