<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="userSearchResult">
    <div th:if="${userList != null and !userList.isEmpty()}">
        <div class="user-info" th:each="user : ${userList}">
            <div class="user-item">
                <p class="label">이름:</p>
                <p class="value" th:text="${user.name}">User Name</p>
            </div>
            <div class="user-item">
                <p class="label">이메일:</p>
                <p class="value" th:text="${user.email}">User Email</p>
            </div>
        </div>
    </div>
    <div th:if="${userList == null or #lists.isEmpty(userList)}">
        <p>해당 유저가 없습니다</p>
    </div>
</div>
</body>
</html>