<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main.html</title>
    <link rel="stylesheet" th:href="@{/style/header.css}">
    <link rel="stylesheet" th:href="@{/style/user/userMain.css}">
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css}"/>
</head>
<body>
    <!-- header 삽입 -->
    <div th:replace="thyme/frameHeader :: header"></div>

    <!-- 유저이름과 그룹 생성/가입 frame -->
    <div class="frame1">
        <div class="nickname" th:text="${session.user.name} + '님의 스터디'"></div>
        <div class="btn">
            <a id="joinStudyBtn">스터디 가입</a>
            <a id="createStudyBtn">스터디 생성</a>
        </div>
    </div>

    <!-- 그룹 리스트 frame -->
    <div class="container">
        <div class="frame2">
            <!-- 그룹 검색 -->
            <form id="search" action="/groups/search" method="GET">
                <input type="search" name="keyword" placeholder="스터디그룹 검색"/>
                <input type="hidden" th:name="pageNum" th:value="1" />
                <button type="submit">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </form>

            <!-- 그룹 조회 -->
            <div th:if="${#lists.isEmpty(groups)}">
                <div class="empty">가입한 스터디 그룹이 없습니다. 그룹을 생성해보세요!</div>
            </div>
            <div th:if="${not #lists.isEmpty(groups)}" class="list">
                <div th:each="group : ${groups}" class="list-item">
                    <a th:href="@{/users/group/{id}(id=${group.id})}" th:text="${group.groupName}" class="no-link-style"></a>
                </div>
            </div>

            <!-- 페이징 처리 -->
            <div class="pagination" th:if="${totalPages > 0}">
                <ul>
                    <li th:if="${currentPage > 0}">
                        <a th:href="@{/main(pageNum=${currentPage - 1})}">&laquo; 이전</a>
                    </li>
                    <li th:each="i : ${#numbers.sequence(0, totalPages - 1)}">
                        <a th:href="@{/main(pageNum=${i})}" th:text="${i + 1}" th:classappend="${i == currentPage} ? 'active' : ''"></a>
                    </li>
                    <li th:if="${currentPage < totalPages - 1}">
                        <a th:href="@{/main(pageNum=${currentPage + 1})}">다음 &raquo;</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- 스터디 가입 모달 -->
    <div id="joinModal" class="modal">
        <div class="modal-content">
            <span class="close-btn">&times;</span>
            <form id="joinModalForm" action="/groups/join" method="post">
                <h2>스터디 가입</h2>
                <input type="text" name="groupName" placeholder="가입할 그룹 이름" required>
                <input type="text" maxlength="6" name="code" placeholder="6자리 숫자의 그룹 코드" required>
                <button type="submit">가입</button>
            </form>
        </div>
    </div>

    <!-- 스터디 생성 모달-->
    <div id="createModal" class="modal">
        <div class="modal-content">
            <span class="close-btn">&times;</span>
            <form id="createModalForm" th:action="@{/groups/create}" method="post">
                <h2>스터디 생성</h2>
                <input type="text" name="groupName" placeholder="생성할 그룹명" required>
                <!-- 카테고리 드롭다운 -->
                <label for="category">카테고리:</label>
                <select id="category" name="category" required>
                    <option value="">==선택==</option>
                    <option th:each="category : ${T(com.studyset.domain.enumerate.GroupCategory).values()}" th:value="${category}"
                            th:text="${category.name()}"/>
                </select>
                <input type="text" name="description" placeholder="스터디 소개" required>
                <input type="text" maxlength="6" name="code" placeholder="6자리 숫자의 그룹 코드" required>
                <button type="submit">생성</button>
            </form>
        </div>
    </div>

    <script th:src="@{/js/user/userMain.js}"></script>
</body>
</html>