@font-face {
    font-family: 'TheJamsil5Bold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

body {
    font-family: 'TheJamsil5Bold', sans-serif;
}

.task {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

.title {
    padding: 20px;
    color: rgba(0, 0, 0, 0.63);
    text-align: left;
}

.taskName {
    font-size: 24px;
    font-weight: bold;
}

.frame {
    padding: 20px;
    background-color: rgba(255, 132, 139, 0.13);
    border-radius: 5px;
}

/* userList */
.frame2 {
    padding: 20px;
    background-color: rgba(255, 132, 139, 0.13);
    border-radius: 5px;
    margin-top: 30px;
}

.user-frame {
    background-color: #fff;
    border: 1px solid rgba(255, 117, 123, 0.66);
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.user-frame:hover {
    background-color: rgba(255, 117, 123, 0.2);
}

.no-link-style {
    text-decoration: none;
    color: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; /* 추가: 부모 요소의 전체 너비 사용 */
}

.task-item {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: inherit;
    width: 100%; /* 추가: 부모 요소의 전체 너비 사용 */
}

.task-details {
    display: flex;
    align-items: center;
    gap: 15px;
    flex: 1; /* 추가: 전체 너비를 사용하도록 설정 */
}

.user-title {
    flex: 1; /* 추가: 공간을 최대한 활용하도록 설정 */
    margin-right: 20px;
    white-space: nowrap;
}

.task-end-time {
    font-size: 14px;
    color: #666;
    flex-shrink: 0;
    margin-left: 20px;
    min-width: 120px;
    text-align: right;
}

.submit-button-wrapper {
    margin-left: auto; /* 오른쪽 끝으로 밀어내기 */
}

.submit-button {
    display: inline-block;
    padding: 8px 13px;
    background-color: rgba(255, 132, 139, 0.88);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    white-space: nowrap;
}

.submit-button:hover {
    background-color: #f46e73;
}
