<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>taskMain.html</title>
    <link rel="stylesheet" th:href="@{/style/header.css}">
    <link rel="stylesheet" th:href="@{/style/group/groupMain.css}">
    <link rel="stylesheet" th:href="@{/style/task/taskMain.css}">
    <link rel="stylesheet" th:href="@{/style/common/toast.css}">
    <link rel="stylesheet" th:href="@{/style/common/modal.css}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css}"/>
</head>
<body>
    <!-- header 삽입 -->
    <div th:replace="thyme/group/groupHeader :: groupHeader (group=${group})"></div>

    <!-- 그룹 정보 frame -->
    <div class="outer-frame">
        <div class="frame">
            <div class="groupName" th:text="${group.groupName}"></div>
            <div class="category" th:text="${group.category}"></div>
            <div class="description" th:text="${group.description}"></div>
        </div>
        <div class="btn">
            <a id="createTaskBtn" class="open-modal-btn bg-taskPink" data-modal="createModal">과제 생성</a>
        </div>
    </div>

    <!-- 과제 목록 -->
    <div class="user-container">
        <div class="frame2">
            <div th:if="${taskList == null or #lists.isEmpty(taskList)}">
                <div class="empty">생성된 과제가 없습니다. 과제를 생성해보세요!</div>
            </div>
            <div th:if="${taskList != null and not #lists.isEmpty(taskList)}" class="list">
                <div th:each="task : ${taskList}" class="list-item task-card">
                    <a th:href="@{/groups/{groupId}/{taskId}/task-detail(groupId=${group.id}, taskId=${task.id})}"
                       class="task-link"
                       th:attr="data-start-time=${task.startTimeFormatted}">
                        <div class="card-header">
                            <i class="fa-solid fa-thumbtack"></i>
                            <span class="task-name" th:text="${task.taskName}">Task Name</span>
                        </div>

                        <!-- Task 기간 바 형식으로 표현 -->
                        <div class="task-timeline"
                             th:data-start-time="${task.startTime.atStartOfDay()}"
                             th:data-end-time="${task.endTime.atTime(23, 59, 59)}">
                            <div class="timeline-bar">
                                <!-- 현재 날짜를 기준으로 진행도 계산 -->
                                <div class="progress-bar"></div>
                            </div>
                            <div class="timeline-dates">
                                <span class="task-start-date" th:text="${task.startTimeFormatted}">Start Date</span>
                                <span class="task-end-date" th:text="${task.endTimeFormatted}">End Date</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- 과제 생성 모달 -->
    <div id="createModal" class="modal">
        <div class="modal-content">
            <span class="close-btn">&times;</span>
            <form id="createModalForm" action="/groups/task/create" method="post">
                <h2>과제 생성</h2>
                <input type="hidden" id="groupId" name="groupId" th:value="${group.id}">
                <label for="taskName">과제 제목</label>
                <input type="text" id="taskName" name="taskName" required>
                <label for="description">과제 설명</label>
                <textarea id="description" rows="3" name="description" required></textarea>
                <label for="startTime">제출 기한</label>
                <input type="date" id="startTime" name="startTime" required>
                <input type="date" id="endTime" name="endTime" required>
                <button type="submit" class="bg-taskPink">생성</button>
            </form>
        </div>
    </div>
    <!-- 토스트 메시지 -->
    <div id="toast" class="toast"></div>
    <div id="error-toast" class="error-toast"/>

    <script th:src="@{/js/modal/modal.js}" defer></script>
    <script type="module" th:src="@{/js/task/taskMain.js}" defer></script>
</body>
</html>