<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>userTask.html</title>
    <link rel="stylesheet" th:href="@{/style/header.css}">
    <link rel="stylesheet" th:href="@{/style/task/userTask.css}">
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css}"/>
</head>
<body>
    <script>
        var taskId = [[${taskDto.id}]];
        var userId = [[${user.id}]];
        var groupId = [[${group.id}]];
    </script>
    <!-- header 삽입 -->
    <div th:replace="thyme/group/groupHeader :: groupHeader (group=${group})"></div>

    <div class="task">
        <div class="title">
            <!-- 과제 정보 -->
            <div class="task-info">
                <div class="taskName" th:text="${taskDto.taskName}"></div>
                <div class="task-end-time" th:text="${task.updatedDate}"></div>
            </div>
            <!-- 수정 및 삭제 버튼 -->
            <span th:if="${user.id == task.userId}" class="submit-button-wrapper">
                <a th:href="@{/groups/{groupId}/{taskId}/modifyTask(groupId=${group.id}, taskId=${taskDto.id})}" class="submit-button">수정</a>
                <a href="#" id="deleteTaskButton" class="submit-button">삭제</a>
            </span>
        </div>

        <!-- 과제 설명 -->
        <div class="frame">
            <div class="description">
                <div class="description" th:text="${task.contents}" style="white-space: pre-wrap;"></div>
            </div>
        </div>

        <!-- 파일 제출 -->
        <div class="file">
            <a th:href="@{/groups/download/{taskSubmissionId}(taskSubmissionId=${task.id})}"
               th:text="${task.filePath}">
            </a>
        </div>

    </div>

    <div class="comment-container">
        <!-- 댓글 리스트 -->
        <div class="comments">
            <!--<div th:each="comm : ${commList}" class="comment-box">
                <div class="memo" th:text="${memo.contents}"></div>
            </div>-->
            <div class="comment-box">
                <div>
                    훌륭해요! 혹시 제 과제에 대한 피드백도 가능할까요?<br>
                    훌륭해요! 혹시 제 과제에 대한 피드백도 가능할까요?
                </div>
            </div>
        </div>

        <!-- 댓글 작성 -->
        <div class="comment-form">
            <form>
                <label>
                    <input type="checkbox" name="anonymous" class="anonymous">
                    <span class="label-text">익명</span>
                </label>
                <input type="text" name="contents" class="writeComm" rows="1" placeholder="댓글을 작성하세요..." required>
                <button class="add-comment" type="submit">➚</button>
            </form>
        </div>
    </div>

    <script th:src="@{/js/task/userTask.js}" defer></script>
</body>
</html>