<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>StudySet-유저 과제</title>
    <link rel="shortcut icon" th:href="@{/favicon_io/apple-touch-icon.png}" type="image/png">
    <link rel="stylesheet" th:href="@{/style/header.css}">
    <link rel="stylesheet" th:href="@{/style/task/userTask.css}">
    <link rel="stylesheet" th:href="@{/style/common/toast.css}">
    <link rel="stylesheet" th:href="@{/style/common/modal.css}">
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css}"/>
</head>
<body>
    <script>
        var taskId = [[${taskDto.id}]];
        var taskUserId = [[${task.userId}]];
        var userId = [[${user.id}]];
        var groupId = [[${group.id}]];
        var submission_id = [[${task.id}]];
    </script>
    <!-- header 삽입 -->
    <div th:replace="thyme/group/groupHeader :: groupHeader (group=${group})"></div>

    <div class="task">
        <div class="title">
            <!-- 과제 정보 -->
            <div class="task-info">
                <div class="taskName" th:text="${taskDto.taskName}"></div>
                <div class="task-end-time" th:text="${task.updatedDate}"></div>
            </div>
            <!-- 수정 및 삭제 버튼 -->
            <span th:if="${user.id == task.userId}" class="submit-button-wrapper">
                <a th:href="@{/groups/{groupId}/tasks/{taskId}/submit-modify(groupId=${group.id}, taskId=${taskDto.id})}" class="submit-button">수정</a>
                <a href="#" id="deleteTaskButton" class="submit-button">삭제</a>
            </span>
        </div>

        <!-- 과제 설명 -->
        <div class="frame">
            <div class="description">
                <div class="description" th:text="${task.contents}" style="white-space: pre-wrap;"></div>
            </div>
        </div>

        <!-- 파일 제출 -->
        <div class="file">
            <a th:href="@{/groups/download/{taskSubmissionId}(taskSubmissionId=${task.id})}"
               th:text="${task.filePath}">
            </a>
        </div>

    </div>

    <div class="comment-container">
        <!-- 댓글 리스트 -->
        <div class="comments">
            <div th:each="comm : ${commentList}" class="comment-box" th:data-comment-id="${comm.id}">
                <div class="writterContainer">
                    <span th:if="${comm.anonymous}" class="comment-author">익명</span>
                    <span th:if="${!comm.anonymous}"
                          th:text="${usersMap[comm.user_id]?.name}"
                          class="comment-author"></span>
                    <span th:if="${!comm.anonymous && (comm.user_id == task.userId)}" class="comment-author2">(제출자)</span>
                    <span class="comment-content" th:text="${comm.contents}"></span>
                </div>
                <div class="time">
                    <span class="commentTime" th:text="${comm.updatedDate}"></span>
                </div>
                <div class="delete">
            <span th:if="${comm.user_id == user.id}" id="deleteCommentButton" class="comment-delete">
                ✘
            </span>
                </div>
            </div>
        </div>

        <!-- 댓글 작성 -->
        <div class="comment-form">
            <label>
                <input type="checkbox" name="anonymous" class="anonymous">
                <span class="label-text">익명</span>
            </label>
            <input type="text" name="contents" class="writeComm" rows="1" placeholder="댓글을 작성하세요..." required>
            <button class="add-comment" type="submit">➚</button>
        </div>
    </div>

    <div id="confirm-modal" class="modal">
        <div class="modal-content">
            <span class="close-btn">&times;</span>
            <p>정말 과제를 삭제하시겠습니까?</p>
            <div class="modal-button-group">
                <button id="confirmYes" class="button">네</button>
                <button id="confirmNo" class="button">아니오</button>
            </div>
        </div>
    </div>
    <div id="toast" class="toast"/>
    <div id="error-toast" class="error-toast"/>
    <script type="module" th:src="@{/js/task/userTask.js}" defer></script>
</body>
</html>