<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main.html</title>
    <link rel="stylesheet" th:href="@{/style/header.css}">
    <link rel="stylesheet" th:href="@{/style/group/groupMain.css}">
    <link rel="stylesheet" th:href="@{/style/dues/dues.css}">
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css}"/>
    <script th:src="@{/js/dues/dues.js}" defer></script>
</head>
<body>
<div th:replace="thyme/group/groupHeader :: groupHeader (group=${session.group})"></div>
<div class="outer-frame">
    <div class="frame">
        <div class="groupName" th:text="${session.group.groupName}"></div>
        <div class="category" th:text="${session.group.category}"></div>
        <div class="description" th:text="${session.group.description}"></div>
    </div>
    <div class="button-container">
        <button class="selected-btn" id="create-modal-btn">납부 내역 추가하기</button>
        <button class="unselected-btn" id="adjust-schedule-btn">회비 사용 내역</button>
    </div>
</div>

<div class="container">
    <div class="frame2">
        <div class="list-container">
                <div class="list">
                    <div class="list-item">
                        <div class="list-item-details">
                            <a class="no-link-style">
                                <span class="list-item-left">회원명</span>
                                <span class="list-item-middle">100,000</span>
                                <span class="list-item-right">Date</span>
                            </a>
                        </div>
                    </div>
                    <div class="list-item">
                        <div class="list-item-details">
                            <a class="no-link-style">
                                <span class="list-item-left">회원명</span>
                                <span class="list-item-middle">100,000</span>
                                <span class="list-item-right">Date</span>
                            </a>
                        </div>
                    </div>
                    <div class="list-item">
                        <div class="list-item-details">
                            <a class="no-link-style">
                                <span class="list-item-left">회원명</span>
                                <span class="list-item-middle">100,000</span>
                                <span class="list-item-right">Date</span>
                            </a>
                        </div>
                    </div>
                    <div class="list-item">
                        <div class="list-item-details">
                            <a class="no-link-style">
                                <span class="list-item-left">회원명</span>
                                <span class="list-item-middle">100,000</span>
                                <span class="list-item-right">Date</span>
                            </a>
                        </div>
                    </div>
                    <div class="list-item">
                        <div class="list-item-details">
                            <a class="no-link-style">
                                <span class="list-item-left">회원명</span>
                                <span class="list-item-middle">100,000</span>
                                <span class="list-item-right">Date</span>
                            </a>
                        </div>
                    </div>
                    <div class="list-item">
                        <div class="list-item-details">
                            <a class="no-link-style">
                                <span class="list-item-left">회원명</span>
                                <span class="list-item-middle">100,000</span>
                                <span class="list-item-right">Date</span>
                            </a>
                        </div>
                    </div>
                    <div class="list-item">
                        <div class="list-item-details">
                            <a class="no-link-style">
                                <span class="list-item-left">회원명</span>
                                <span class="list-item-middle">100,000</span>
                                <span class="list-item-right">Date</span>
                            </a>
                        </div>
                    </div>
                    <div class="list-item">
                        <div class="list-item-details">
                            <a class="no-link-style">
                                <span class="list-item-left">회원명</span>
                                <span class="list-item-middle">100,000</span>
                                <span class="list-item-right">Date</span>
                            </a>
                        </div>
                    </div>
                    <div class="list-item">
                        <div class="list-item-details">
                            <a class="no-link-style">
                                <span class="list-item-left">회원명</span>
                                <span class="list-item-middle">100,000</span>
                                <span class="list-item-right">Date</span>
                            </a>
                        </div>
                    </div>
                    <div class="list-item">
                        <div class="list-item-details">
                            <a class="no-link-style">
                                <span class="list-item-left">회원명</span>
                                <span class="list-item-middle">100,000</span>
                                <span class="list-item-right">Date</span>
                            </a>
                        </div>
                    </div>
                    <div class="list-item">
                        <div class="list-item-details">
                            <a class="no-link-style">
                                <span class="list-item-left">회원명</span>
                                <span class="list-item-middle">100,000</span>
                                <span class="list-item-right">Date</span>
                            </a>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>

<div id="create-modal" class="modal">
    <div class="modal-content">
        <span class="close-btn">&times;</span>
        <form class="modal-form" id="create-modal-form" action="/groups/task/create" method="post">
            <h2>납부 내역 추가</h2>
            <label class="custom-label">회원명</label>
            <select name="userId">
                <option value="">-- 선택 --</option>
                <option th:each="val : ${userList}" th:value="${val?.getId()}"
                        th:utext="${val?.name}">
            </select>
            <label class="custom-label" for="dues-amount">납부 금액</label>
            <input type="number" id="dues-amount" name="dues-amount" required/>
            <label class="custom-label">납부 일자</label>
            <input type="date" name="startTime" required>
            <button class="btn2" type="submit">생성</button>
        </form>
    </div>
</div>

</body>
</html>