<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main.html</title>
    <link rel="stylesheet" th:href="@{/style/header.css}">
    <link rel="stylesheet" th:href="@{/style/group/groupMain.css}">
    <link rel="stylesheet" th:href="@{/style/dues/dues.css}">
    <link rel="stylesheet" th:href="@{/style/common/modal.css}">
    <script th:src="@{/js/dues/dues.js}" defer></script>
</head>
<body>
<div th:replace="thyme/group/groupHeader :: groupHeader (group=${session.group})"></div>
<div class="outer-frame">
    <div class="frame">
        <div class="groupName" th:text="${session.group.groupName}"></div>
        <div class="category" th:text="${session.group.category}"></div>
        <div class="description" th:text="${session.group.description}"></div>
    </div>
    <div class="button-container">
        <button class="selected-btn" id="show-dues-btn">회비 납부 내역</button>
        <button class="unselected-btn" id="show-payment-btn">회비 사용 내역</button>
    </div>
</div>

<div class="container">
    <div class="frame2">
        <div class="list-container">
                <div class="list">
                    <div th:each="dues: ${duesList}" class="list-item bg-soft-pink">
                        <div class="list-item-details">
                            <a class="no-link-style">
                                <span class="list-item-left" th:text="${dues.userName}"/>
                                <span class="list-item-middle" th:text="${#numbers.formatCurrency(dues.price)}"/>
                                <span class="list-item-right" th:text="${dues.duesDate}"/>
                            </a>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>
<div class="outer-frame2">
    <div class="btn2">
        <a id="create-modal-btn" data-modal="create-modal" class="open-modal-btn">추가</a>
    </div>
</div>

<div id="create-modal" class="modal">
    <div class="modal-content">
        <span class="close-btn">&times;</span>
        <form class="modal-form" id="create-modal-form" th:object="${duesForm}" th:action="@{/groups/{groupId}/dues(groupId=${groupId})}" method="post">
            <h2>납부 내역 추가</h2>
            <label class="custom-label">회원명</label>
            <select name="userId" th:field="*{userId}" required>
                <option th:each="val : ${userList}"
                        th:value="${val?.getId()}"
                        th:text="${val?.name}">
                </option>
            </select>
            <label class="custom-label" for="dues-amount">납부 금액</label>
            <input type="number" id="dues-amount" name="price" th:field="*{price}" required/>
            <label class="custom-label">납부 일자</label>
            <input type="date" name="duesDate" th:field="*{duesDate}" required>
            <button class="button" type="submit">생성</button>
        </form>
    </div>
</div>
<input type="hidden" id="groupId" name="groupId" th:value="${session.group.id}" />
<script th:src="@{/js/modal/modal.js}"></script>
</body>
</html>