@font-face {
    font-family: 'TheJamsil5Bold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

body, button {
    font-family: 'TheJamsil5Bold', sans-serif;
}

.outer-frame {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    margin-top: 25px;
    margin-bottom: 8px;
    margin-left: auto;
    margin-right: auto;
}

.outer-frame2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    margin-top: 10px;
    margin-bottom: 8px;
    margin-left: auto;
    margin-right: auto;
}

.frame {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    border-left: 4px solid rgba(0, 0, 0, 0.36);
    padding: 0px 0px 10px 5px;
}

.groupName {
    font-size: 24px;
    margin-bottom: 5px;
}

.category {
    font-size: 14px;
    color: rgba(102, 102, 102, 0.34);
    margin-top: 6px;
}

.description {
    font-size: 14px;
    color: #666;
    margin-top: 6px;
}

.button {
    padding: 10px 20px;
    background-color: rgba(255, 117, 123, 0.66);
    color: white;
    margin: 5px auto 0; /* 상단 15px 마진, 좌우 자동으로 가운데 정렬 */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 20%;
}

.button:hover {
    background-color: #f46e73;
}

.btn, .btn2 {
    display: flex;
    gap: 25px;
    justify-content: flex-end;
    width: 100%;
    margin-bottom: -30px;
}

.btn a {
    display: inline-block;
    padding: 10px 15px;
    background-color: rgba(255, 117, 123, 0.66);
    color: white;
    text-decoration: none;
    border-radius: 18px;
    text-align: center;
    cursor: pointer;
}

.btn a:hover {
    background-color: #f46e73;
}

.btn2 a:hover {
    background-color: #f46e73;
    color: white;
}

.container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.frame2 {
    width: 75%;
    padding: 10px 5px;
    border-radius: 15px;
    background-color: rgba(255, 132, 139, 0.07);
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 그룹 메인 화면 프레임 */
.frame-grid {
    width: 75%;
    padding: 10px 5px;
    border-radius: 15px;
    height: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* 3개의 열 */
    grid-template-rows: 1fr 1fr; /* 2개의 행 */
    gap: 12px;
}

.card {
    background-color: rgba(248, 248, 248, 0.4);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.2s ease-in-out;
}

.card h2 {
    margin: 0;
    font-size: 1rem;
    color: rgba(102, 102, 102, 0.34);
    display: flex;
}

/* 호버 시 카드 애니메이션 */
.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.schedule {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    margin-left: 9px;
    border-left: 5px solid rgba(252, 103, 103, 0.63);
}

.memo {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
    margin-right: 9px;
    overflow-y: auto;
    border-left: 5px solid rgba(255, 117, 123, 0.16);
}

.user-frame {
    background-color: rgba(255, 117, 123, 0.16);
    padding: 10px;
    border-radius: 8px;
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.user-title {
    font-size: 1.05em;
    margin-bottom: 10px;
}

.memo-wrapper {
    overflow-y: auto;
    flex: 1;
    margin-bottom: 10px;
}

.note {
    background-color: #fff;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

.task {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    border-left: 5px solid rgba(255, 80, 129, 0.25);
    overflow: hidden;
}

.task-details {
    text-align: left;
}

.empty {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    font-size: 1.1em;
    color: rgba(102, 102, 102, 0.87);
}

.dues {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    border-left: 5px solid #b9dbff;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#total {
    border-top: 2px solid #ddd;
    padding-top: 10px;
    font-size: 1.1em;
    font-weight: bold;
}

.card-content {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.card-item {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.card-item-label {
    font-weight: bold;
    color: #555;
}

.card-item-value {
    color: #333;
}

/* 스크롤 스타일 */
.list::-webkit-scrollbar,
.memo::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

.list::-webkit-scrollbar-track,
.memo::-webkit-scrollbar-track {
    background: rgba(255, 132, 139, 0.04);
    border-radius: 10px;
}

.list::-webkit-scrollbar-thumb,
.memo::-webkit-scrollbar-thumb {
    background: rgba(3, 10, 87, 0.06);
    border-radius: 10px;
}

.list::-webkit-scrollbar-thumb:hover,
.memo::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.18);
}

/* 토스트 메시지 */
.toast {
    visibility: hidden;
    max-width: 50%;
    margin: auto;
    background-color: #f46e73;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

/* 토스트 표시 스타일 */
.toast.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s; /* 애니메이션 효과 */
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {opacity: 1;}
    to {opacity: 0;}
}

@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeout {
    from {opacity: 1;}
    to {opacity: 0;}
}

/* 모달 스타일 */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
    text-align: center;
    margin: 150px auto auto;
    animation: fadeIn 0.5s ease;
}

.modal-content form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    text-align: center;
}

.close-btn, .close-btn2 {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-form input[type="text"],
.modal-form input[type="number"],
.modal-form input[type="date"],
.modal-form input[type="datetime-local"],
#createModalForm input,
.modal-form select,
.modal-form textarea{
    width: calc(100% - 20px);
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

.modal-form select{
    width: 100%;
}

.custom-label {
    width: fit-content;
    font-weight: bold;
    margin-bottom: 5px;
    /*display: block;*/
}

.modal-form button,
#createModalForm button {
    padding: 10px 20px;
    background-color: rgba(255, 117, 123, 0.66);
    color: white;
    margin: 5px auto 0; /* 상단 15px 마진, 좌우 자동으로 가운데 정렬 */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 20%;
    text-align: center;
}

.modal-button-group {
    margin: auto;
    padding: 10px;
    width: 90%;
}

#searchModalForm, #confirmationStep, #leaveGroupForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#searchModalForm input, #leaveGroupForm input {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#searchModalForm button, #leaveGroupForm button, #confirmationStep button {
    padding: 10px 20px;
    background-color: rgba(255, 117, 123, 0.66);
    color: white;
    margin: 10px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn2 a {
    padding: 10px 15px;
    color: rgba(255, 117, 123, 0.66);
    border: 1.5px solid rgba(255, 117, 123, 0.66);
    border-radius: 18px;
    cursor: pointer;
}

#searchModalForm button:hover,
#createModalForm button:hover {
    background-color: #f46e73;
}

/* 검색 입력 필드와 버튼을 한 줄에 배치 */
.search-container {
    display: flex;
    align-items: center;
}

/* 그룹 탈퇴 관련 모달 */
.modal-step {
    display: none;
}

.modal-step.active {
    display: block;
}

.hidden {
    display: none;
}

/* Error Toast 스타일 */
.error-toast {
    visibility: hidden;
    min-width: 250px;
    background-color: #333;
    color: #ff9b9b;
    text-align: center;
    border-radius: 2px;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 50%; /* 화면 가운데로 수직 위치 */
    transform: translate(-50%, -50%); /* 가운데 정렬 */
    font-size: 17px;
    white-space: nowrap;
    padding: 16px;
    box-shadow: 0px 0px 10px 0px #000;
}

.error-toast.show {
    visibility: visible;
    -webkit-animation: fadeInOut 3s;
    animation: fadeInOut 3s;
}

.button-container {
    text-align: right;
    width: 30%;
    margin: 20px auto auto;
}

.selected-btn {
    padding: 10px 30px;
    background-color: rgba(255, 117, 123, 0.66);
    color: white;
    border: 1.5px solid rgba(255, 117, 123, 0.66);
    border-radius: 18px;
    cursor: pointer;
    font-size: 15px;
    min-width: 100px;
    font-family: 'TheJamsil5Bold', sans-serif;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 버튼에 살짝 그림자 추가 */
    transition: background-color 0.3s ease, box-shadow 0.3s ease; /* 호버 시 부드러운 전환 */
}

.unselected-btn {
    padding: 10px 30px;
    background-color: #d3d3d3;
    color: #7f8c8d;
    border: 1.5px solid #bdc3c7;
    border-radius: 18px;
    cursor: pointer;
    font-size: 15px;
    min-width: 100px;
    font-family: 'TheJamsil5Bold', sans-serif;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.selected-btn:hover, .unselected-btn:hover {
    transform: scale(1.05);
    background-color: #ff6b81;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out;
    color: black;
}

/* 리스트 스타일 */
.list-container {
    width: -webkit-fill-available;
    overflow-y: scroll;
    height: inherit;
}

.list {
    display: grid;
    gap: 20px;
    grid-auto-rows: min-content;
    text-align: center;
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: 10px;
    width: 100%;
    height: 95%;
}

.empty-list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px; /* 높이 조정 필요시 */
    font-size: 1.2em;
    color: #333;
}

.list-item {
    margin: auto;
    padding: 15px;
    margin: 0 auto;
    width: 80%;
    border-radius: 10px;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.list-item:hover {
    transform: translateY(-4px);
    box-shadow: 0 6px 13px rgba(0, 0, 0, 0.15); /* 기본 색상 */
}

.list-item-details {
    justify-content: space-between;
    align-items: center;
    adding: 10px;
    margin: 10px;
}

.list-item-left {
    float: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 30%;
}

.list-item-middle {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 30%;
}

.list-item-right {
    float: right;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 30%;
}

.list-item-delete {
    white-space: nowrap;
    text-overflow: ellipsis;
}

.list-item .time {
    margin-left: 5px;
}

.no-link-style {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

/* color */
.bg-taskPink {
    background-color: rgba(255, 80, 129, 0.25);
}

.bg-blue {
    background-color: #b9dbff;
}

.bg-pink {
    background-color: #ff6b81;
}

.bg-soft-pink {
    background-color: rgba(255, 117, 123, 0.16);
}

.bg-white {
    background-color: #ffffff;
}

.border-blue {
    border-left: 10px solid #b9dbff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#calendar {
    margin: 20px 10px 10px;
}

.card.schedule .fc-daygrid-day {
    height: 20px !important;
    min-height: 20px !important;
    max-height: 50px !important;
}

.card.schedule .fc {
    font-size: 13px !important;
}

.card.schedule .fc-day-header {
    background-color: rgba(252, 103, 103, 0.63) !important;
}
