@font-face {
    font-family: 'TheJamsil5Bold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

body {
    font-family: 'TheJamsil5Bold', sans-serif;
}

.frame1 {
    display: flex; /* Flexbox 컨테이너로 설정 */
    align-items: center; /* 요소들을 수직으로 가운데 정렬 */
    padding: 10px 0; /* 상하 패딩 추가 */
}

.btn {
    display: flex;
    gap: 25px; /* 버튼 사이 간격 */
}

.btn a {
    display: inline-block;
    padding: 10px 15px;
    background-color: rgba(255, 117, 123, 0.66);
    color: white;
    text-decoration: none;
    border-radius: 18px;
    text-align: center;
    cursor: pointer;
}

.btn a:hover {
    background-color: #f46e73;
}

.container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.frame2 {
    width: 75%;
    padding: 10px 0;
    background-color: rgba(255, 132, 139, 0.07);
    border-radius: 15px;
    height: 500px;
    display: flex;
    flex-direction: column; /* 내부 요소들을 세로로 배치 */
    align-items: center; /* 내부 요소 수평 가운데 정렬 */
}

.frame2 form {
    display: flex;
    margin-bottom: 25px;
    width: 95%;
    background-color: rgba(255, 132, 139, 0.13);
}

.frame2 input[type="search"] {
    width: 100%;
    padding: 8px;
    border-radius: 10px 0 0 10px;
    border: 2px solid rgb(244, 110, 115);
    font-size: 16px;
    border-right: none;
}

.frame2 button {
    padding: 8px;
    border-radius: 0 10px 10px 0;
    background-color: rgba(255, 132, 139, 0.13);
    border: 2px solid rgb(244, 110, 115);
    border-left: none;
    cursor: pointer;
}

.search button i {
    font-size: 16px;
}

.list {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 두 개의 열 */
    gap: 20px; /* 아이템 간의 간격 */
    width: 100%; /* 리스트 너비 */
    text-align: center;
}

.empty {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px; /* 높이 조정 필요시 */
    font-size: 1.2em;
    color: #333;
}

.list-item {
    background-color: rgba(255, 132, 139, 0.13);
    padding: 15px;
    margin: 0 auto; /* 수정: 중앙 정렬 */
    width: 80%;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor: pointer;
}

.no-link-style {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

/* 모달 스타일 */
.modal {
    display: none; /* 모달 초기 상태는 숨김 */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5); /* 배경 반투명 검정 */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
    text-align: center;
}

.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#joinModalForm input,
#createModalForm input {
    width: calc(100% - 20px); /* 패딩을 고려하여 너비 조정 */
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#joinModalForm button,
#createModalForm button {
    padding: 10px 20px;
    background-color: rgba(255, 117, 123, 0.66);
    color: white;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#joinModalForm button:hover,
#createModalForm button:hover {
    background-color: #f46e73;
}

/* 드롭다운 스타일 */
select {
    width: 100%; /* 패딩을 고려하여 너비 조정 */
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgba(255, 132, 139, 0.13);
}

select:focus {
    outline: none;
    border-color: rgba(255, 132, 139, 0.66);
    box-shadow: 0 0 5px rgba(255, 132, 139, 0.5);
}

/* 페이징 네비게이션 스타일 */
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 340px;
}

.pagination ul {
    list-style: none;
    padding: 0;
    margin: 0; /* 추가: 여백 초기화 */
    display: flex; /* 추가: 플렉스 컨테이너로 설정 */
    justify-content: center; /* 중앙 정렬 */
}

.pagination li {
    margin: 0 5px;
}

.pagination a {
    text-decoration: none;
    color: rgba(255, 132, 139, 0.66);
    padding: 8px 16px;
    border: 1px solid #dee2e6;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

.pagination a:hover {
    background-color: #f46e73;
    color: #fff;
}

.pagination .active a {
    background-color: #f46e73;
    color: #fff;
    cursor: default;
}

