<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>StudySet-스캐줄 조정표</title>
    <link rel="shortcut icon" th:href="@{/favicon_io/apple-touch-icon.png}" type="image/png">
    <link rel="stylesheet" th:href="@{/style/header.css}">
    <link rel="stylesheet" th:href="@{/style/group/groupMain.css}">
    <link rel="stylesheet" th:href="@{/style/group/calendar.css}">
    <script th:src="@{/js/schedule/timetable.js}" defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
<!-- header -->
<div th:replace="~{thyme/group/groupHeader :: groupHeader (group=${session.group})}" class="header"></div>
<div class="sub-header">
    <div class="sub-header-title">
        <h2 th:text="'🪄'+${month} + '월 ' + ${weekOfMonth} + '째 주 스케줄 조정표'"></h2>
    </div>
    <div class="button-container">
        <button class="unselected-btn" id="adjust-calendar-btn">캘린더 보기</button>
        <button class="selected-btn" id="adjust-schedule-btn">스케줄 조정하기</button>
    </div>
</div>
<div class="container">
    <!-- time table -->
    <div class="time-table-container">
        <h6>※참석 가능한 시간에 색칠해주세요</h6>
        <table class="time-table" id="time-table-show">
            <thead>
            <tr>
                <th style="border-top-left-radius: 25px;">시간(시)</th>
                <th>월</th>
                <th>화</th>
                <th>수</th>
                <th>목</th>
                <th>금</th>
                <th>토</th>
                <th style="border-top-right-radius: 25px;">일</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="dayList, stat : ${times}">
                <tr>
                    <th th:text="${stat.index}+'~'+${stat.index + 1}"></th>
                    <th:block th:each="day, dayIndex : ${dayList}">
                        <td class="time-cell"
                            th:style="'opacity: ' + (${day} / 1.8) + ';'"
                            th:classappend="${day != 0 ? 'highlighted' : ''}">
                    </th:block>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
    <div class="time-table-side">
        <button type="submit" id="user-table-btn" class="selected-btn">내 스캐줄 추가</button>
        <!-- member list -->
        <div class="member-list-container" id="member-list">
            멤버 리스트
            <div class="member-list">
                <span>
                    <input type="radio" th:name="'selectedUser'" th:value="all" onchange="selectUser()" th:text="전체">
                </span>
                <th:block th:each="user : ${userList}">
                    <span>
                        <input type="radio" th:name="'selectedUser'" th:value="${user.getId()}" th:text="${user.getName()}" onchange="selectUser()">
                    </span>
                </th:block>
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="groupId" name="groupId" th:value="${session.group.id}" />
<input type="hidden" id="numOfGroupMember" name="groupId" th:value="${userList.size()}" />

</body>
</html>
